@import "tailwindcss";

:root {
  --primary: #CD3A38;
  --secondary: #295E7E;
  --contrast: #272727;
  --background: #fff;
  --text: #f8f8f8;
  --label: #b3b3b3;
}

body {
  font-family: 'Inter', sans-serif;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}