@import "tailwindcss";

:root {
  --primary: #CD3A38;
  --secondary: #295E7E;
  --contrast: #272727;
  --background: #fff;
  --text: #f8f8f8;
  --muted-primary: #E9AAA9;
  --muted-secondary: #BABDC4;
  --active-tab-bg: #f6f5f2;
  --active-tab-text: #ea4c59;
  --inactive-tab-text: #6b7280;
  --label: #b3b3b3;
}

/* Shimmer Animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}